#!/bin/zsh
#
# .aliases - Set whatever shell aliases you want.
#

# single character aliases - be sparing!
alias ll='exa -aglFh --git'
alias l='ll'

alias ga='git add'
alias gaa='git add -A'
alias gc='git commit'
alias gca='git commit --amend --no-edit'
alias gcm='git commit -m'
alias gs='git status'
alias gp='git push'
alias gpf='git push -f'
alias glg='git log --graph --pretty=format:"%C(auto)%h%d%Creset %C(cyan)(%cr)%Creset %C(green)%cn <%ce>%Creset %s"'
alias glga='glg --all'
alias gch='git checkout'
alias gcl='git clone'

alias k='kubectl'

alias p='python3'

alias open='xdg-open &>/dev/null'

alias ports='sudo lsof -i -P -n | grep LISTEN'

alias j='z'

alias zdot='cd ${ZDOTDIR:-~}'